

<h2><i class="fa fa-comment"/>&nbsp;Contact</h2>

<br/>

<div class="row center-block">
    <div class="col-lg-12">
        <div class="github-card" data-github="ismikin" data-width="400" data-height="316" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
</div>

<br/>
<div class="row center-block">
    <div class="col-lg-12">
        <!-- Inserta esta etiqueta en la sección "head" o justo antes de la etiqueta "body" de cierre. -->
        <script src="https://apis.google.com/js/platform.js" async defer>
            {lang: 'es'}
        </script>

        <!-- Inserta esta etiqueta donde quieras que aparezca widget. -->
        <div class="g-person" data-href="//plus.google.com/u/0/103038141685727301458" data-layout="landscape" data-rel="author"></div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-sm-4">
        <iframe src="https://ghbtns.com/github-btn.html?user=ismikin&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
    </div>
    <div class="col-sm-4">
        <a href="http://www.twitter.com/ismikin" class="btn btn-default"><i class="fa fa-twitter"></i>&nbsp;@IsmiKin</a>
    </div>


</div>


