
<div class="row">

    <h2><i class="fa fa-home"/>&nbsp;Home Section</h2>

    <br/>

    <div class="col-md-4">
        <a href="#/company/admin/" class="btn btn-default">
            <i class="fa fa-gear fa-5x"></i>
            <h4>Administrate companies</h4>
        </a>
    </div>

    <div class="col-md-4">
        <a href="#/company/create/" class="btn btn-default">
            <i class="fa fa-plus fa-5x"></i>
            <h4>New company</h4>
        </a>
     </div>

    <div class="col-md-4">
        <a href="#/contact/" class="btn btn-default">
            <i class="fa fa-comment fa-5x"></i>
            <h4>Contact me</h4>
        </a>
    </div>

</div>

<br/>

<div class="row">


    <h2><i class="fa fa-share"/>&nbsp;Fork it and share it!</h2>

    <br/>

    <iframe src="https://ghbtns.com/github-btn.html?user=ismikin&repo=simplecompany&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=ismikin&repo=simplecompany&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    <div class="g-plusone" data-annotation="inline" data-width="300"></div>
    <br/>


</div>

<script src="https://apis.google.com/js/platform.js" async defer>
    {lang: 'es'}
</script>