

<form class="form-inline" >

    <div class="form-group">
        <label class="sr-only" for="personname">Name</label>
        <input type="text" name="name" class="form-control" id="personname" placeholder="Name">
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputType">Type</label>
        <select class="form-control" id="inputType" name="type" required>
            <option value="Director">Director</option>
            <option value="BeneficialOwner">Beneficial owner</option>
        </select>
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputPassport">Type</label>
        <input type="file" name="passport" class="form-control" id="inputPassport" placeholder="Passport">
    </div>

</form>

    <button class="btn destroyPerson" ><i class="fa fa-times"></i></button>

</form>
<br/>

